.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 353px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 0;
}

.card__like-btn {
  opacity: 0.4;
  transition: 200ms;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 80%;
  }
}
